.admin-section-wrapper {
  display: flex;
  justify-content: center;

}

.admin-login-form-container {
  margin: 30px;
  padding: 30px var(--spacing-20) var(--spacing-50);
}

.admin-login-form-container .btn {
  font-size: 18px;
  border: none;
}
