textarea {
    padding: 10px;
}


.home-wrapper {
    display: flex;
    overflow: hidden;
}

@media(min-width: 800px) {
    .home-wrapper {
        flex-direction: row-reverse;
    }
}


.sidebar {
    display: flex;
    background: var(--mid-dark);
    flex-direction: column;
    align-items: center;
    position: fixed;
    padding: 61px var(--spacing-20);
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    z-index: 49;
    transition: right 0.3s ease-in-out;
}

.sidebar.open {
    right: 0;
}

nav #closeMenuBtn {
    background: none;
    margin: 20px 0;
    color: var(--light);
    font-size: var(--fs-)
}

@media(min-width: 800px) {
    .sidebar {
        right: -300px;
        width: 300px;
    }
}

.edit-profile-section p {
    color: var(--light);
    text-align: start;
}

.edit-btn {
    margin-top: 70px;
}



/*EDIT FORM CSS*/
.edit-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-form-heading {
    color: var(--primary);
}

.edit-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: var(--spacing-20);
    background: var(--dark-bg);
    border-radius: var(--spacing-20);
    margin: var(--spacing-50);
}


.edit-form label {
    color: var(--light);
    margin: var(--spacing-20) 0;
}

.edit-form textarea {
    padding: 10px;
}

.edit-form .save-btn {
    padding: 10px 15px;
    font-size: 18px;
    background: var(--light);
    color: var(--primary);
    cursor: pointer;
    border: none;

}

.edit-form .save-btn:hover {
    background: var(--primary);
    color: var(--light)
}

/*TIMELINE CSS*/
.delete-btn {
    background: red;
    border: none;
    color: var(--light);
    padding: 5px 10px;
}

.delete-btn:hover {
    background: var(--mid-dark);
}

.create-post-btn,
.post-comment-btn {
    display: block;
}

button[type="button"] {
    display: block;
    border: none;
    width: 50px;
    background: none;
    border: 1px solid gray;
    border-radius: 50px;
}


.timeline-wrapper {
    display: flex;
    flex-direction: column;
    background: var(--dark-bg);
    width: 85%;
    padding: 0 30px;
    overflow-y: auto;
    flex: 1;
}


.timeline-wrapper h2 {
    text-align: left;
}


.timeline-wrapper p,
h2,
h3,
h4,
time,
summary {
    color: var(--light);
}


.timeline-wrapper summary {
    margin: 10px;
    cursor: pointer;
}

.post-wrapper {
    width: 100%;
    border-top: 2px solid var(--mid-dark);
    margin: 15px 0;
}

.post-wrapper textarea {
    background: var(--dark-bg);
    color: var(--light)
}

.post-wrapper .post-comment-btn {
    padding: 5px 10px;
    font-size: 15px;
}


.comment-wrapper {
    width: 100%;
    border-top: 2px solid var(--mid-dark);
}

.flex-col {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flex-col header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.comments_list {
    background: var(--mid-dark);
    margin-left: 30px;
}
