* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --light: lavender;
  --primary: darkviolet;
  --secondary: fuchsia;
  --bg-light: #e3dddd;
}




html {
  width: 100%;
  height: 100%;
}

html,
body {
  min-height: 100vh;
}

body {
  width: 100%;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.flex-center {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

li {
  list-style: none;
  padding: 0 10px;
}

nav {
  padding: 20px;
  background: var(--bg-light);
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li a {
  color: var(--primary);
}

nav ul li:first-child {
  font-size: 18px;
  font-weight: 600;
}

nav .nav-link {
  display: flex;
  gap: 2rem;
}


.btn {
  background: var(--primary);
  padding: 10px 15px;
  color: whitesmoke;
}

.btn:hover {
  background: fuchsia;
  color: black;
}

nav .img-placeholder {
  background: var(--primary);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.error {
  font-size: 20px;
  font-weight: 600;
  background: #1e0039;
  color: red;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: hidden;
}

h1 {
  color: var(--primary);
  font-size: 40px;
  margin: 20px 0;
  text-align: center;
}

h2 {
  font-size: 36px;
  text-align: center;
  padding: 20px 0;


}

.fancy-bg {
  display: none;
}

@media (min-width: 850px) {
  .fancy-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 95px;
    width: 50%;
    height: 100vh;
    background: lavender;

  }

}

.form-container {
  width: 100%;
  color: whitesmoke;
  display: flex;
  background: rebeccapurple;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 850px) {
  .form-container {
    width: 50%;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
}


.form-container .submit-btn-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.form-container .submit-btn-container .btn {
  color: var(--primary);
  width: 150px;
  font-size: 20px;
  padding: 5px 10px;
  border: none;
  background: lavender;
  cursor: pointer;
}

.form-container .submit-btn-container .btn:hover {
  color: lavender;
  background: fuchsia;
}

.form {
  padding: 50px 20px;
  width: 500px;
  border: 3px solid white;
}


@media (min-width: 850px) {
  .form {
    padding: 15px 20px;
  }
}

.form input {
  font-size: 20px;
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 15px;
  display: block;
  margin: 5px 0;
  padding-inline: 15px;
}

.form p {
  padding: 15px;
  font-size: 18px;
}

.form a {
  text-decoration: underline;
  color: white;
}

label {
  font-size: 20px;
  font-weight: 600;
}

footer {
  background: var(--bg-light);
  padding: 20px;
  text-align: center;
  background: white;
  position: sticky;
  top: 100vh;
}
