* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --light: lavender;
  --primary: darkviolet;
  --dark-bg: #1a0024;
  --mid-dark: #1e0039;
  --accent: fuchsia;
  --bg-light: #e3dddd;

  --spacing-10: 10px;
  --spacing-20: 20px;
  --spacing-50: 50px;

  /*font sizing*/
  --fs-80: 7rem;
  /*80px*/
  --fs-64: 4rem;
  /*64px*/
  --fs-48: 3rem;
  /*48px*/
  --fs-32: 2rem;
  /*32px*/
  --fs-30: 1.875rem;
  /*30px*/
  --fs-31: 1.9rem;
  /*30.4px*/
  --fs-28: 1.7rem;
  /*27.2px*/
  --fs-24: 1.2rem;
  /*24px*/
  --fs-18: 1.125px;
  /*18px*/
  --fs-default: 1rem;
  /*16px*/

}

html {
  width: 100%;
  height: 100%;
}

html,
body {
  min-height: 100vh;
}

body {
  width: 100%;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

button {
  cursor: pointer;
  border: none;
}

textarea {

  font-family: Helvetica, sans-serif;
}

.border-none {
  border: none;
}

.flex-gap-center {
  display: flex;
  align-content: center;
  gap: 0.5rem;
}

.flex-center {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.error {
  font-size: var(--spacing-20);
  font-weight: 600;
  background: var(--dark-bg);
  color: red;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: hidden;
}

li {
  padding: 0 10px;
}


nav.main-nav {
  padding: var(--spacing-20);
  position: fixed;
  width: 100%;
  background: var(--bg-light);
  z-index: 60;
}

nav.main-nav ul {
  display: flex;
  justify-content: space-between;
}

nav.main-nav .nav-link-wrapper {
  display: flex;
  gap: 2rem;
}

nav.main-nav ul li a {
  color: var(--primary);
}

nav.main-nav ul li a.btn {
  color: var(--light);
}

nav.main-nav ul li:first-child {
  font-size: 18px;
  font-weight: 600;
}

nav.main-nav ul li button#toggleSidebar {
  background: none;
  color: var(--primary);
  font-weight: 600;
  font-size: 18px;
}

nav.main-nav ul li button#toggleSidebar:hover {
  color: var(--dark-bg);
}

.btn {
  background: var(--primary);
  padding: 10px 15px;
  color: var(--light);
}

.btn:hover {
  background: var(--dark-bg);
  color: black;
}


h1 {
  color: var(--primary);
  font-size: 40px;
  margin: var(--spacing-20) 0;
  text-align: center;
}

h2 {
  font-size: 36px;
  text-align: center;
  padding: var(--spacing-20) 0;


}

.form-container {
  width: 100%;
  color: var(--light);
  display: flex;
  background: var(--dark-bg);
  flex-direction: column;
  align-items: center;
}

@media (min-width: 850px) {
  .form-container {
    width: 50%;
    justify-content: center;
    align-items: center;
    padding-left: var(--spacing-20);
    padding-right: var(--spacing-20);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
}


.form-container .submit-btn-container {
  width: 100%;
  height: var(--spacing-50);
  display: flex;
  justify-content: center;
}

.form-container .submit-btn-container .btn {
  color: var(--primary);
  width: var(--spacing-50);
  font-size: var(--spacing-20);
  padding: 5px 10px;
  border: none;
  background: var(--light);
  cursor: pointer;
}

.form-container .submit-btn-container .btn:hover {
  color: var(--light);
  background: var(--accent);
}

.form {
  margin: 50px 0;
  padding: var(--spacing-50) var(--spacing-20);
  width: 500px;
  border: 3px solid white;
}



@media (min-width: 850px) {
  .form {
    padding: 15px var(--spacing-20);
  }
}

.form input {
  font-size: var(--spacing-20);
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 15px;
  display: block;
  margin: 5px 0;
  padding: 0 15px;
}

label {
  font-size: var(--spacing-20);
  font-weight: 600;
}

.form p {
  padding: 15px;
  font-size: 18px;
}

.form a {
  text-decoration: underline;
  color: white;
}


footer {
  background: var(--bg-light);
  padding: var(--spacing-20);
  text-align: center;
  background: white;
  position: sticky;
  top: 100vh;
}
