textarea {
    padding: 10px;
}


.edit-profile-wrapper {
    display: flex;
    justify-content: space-between;
}

.edit-profile-section {

    padding: 0 20px;
    display: flex;
    background: #1a0024;
    width: 30%;
    flex-direction: column;
    align-items: center;
}


.edit-profile-section p {
    color: var(--light);
    text-align: start;
}

.edit-btn {
    margin-top: 70px;
}



/*EDIT FORM CSS*/
.edit-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-form-heading {
    color: var(--primary);
}

.edit-form {
    background: #1e0039;
    border-radius: 20px;
    margin-bottom: 50px;
}


.edit-form label {
    color: var(--light)
}

.edit-form textarea {
    padding: 10px;
}

.edit-form .save-btn {
    padding: 10px 15px;
    font-size: 18px;
    background: var(--light);
    color: var(--primary);
    cursor: pointer;
    border: none;

}

.edit-form .save-btn:hover {
    background: var(--primary);
    color: var(--light)
}

/*TIMELINE CSS*/
.timeline-wrapper {
    display: flex;
    flex-direction: column;
    background: #1e0039;
    width: 70%;
    padding: 0 30px;
}

.timeline-wrapper p,
h2,
h3,
h4,
time,
summary {
    color: var(--light);
}


.timeline-wrapper summary {
    margin: 10px;
    cursor: pointer;

}

.post-wrapper {
    width: 100%;
    border-top: 2px solid #43005c;
    margin: 15px 0;
}

.post-wrapper textarea {
    background: #1a0024;
    color: var(--light)
}

.post-wrapper .post-comment-btn {
    padding: 5px 10px;
    font-size: 15px;

}

button[type="submit"] {
    display: block;
    margin-top: 10px;
}

button[type="button"] {
    display: block;
    border: none;
    width: 50px;
    background: none;
    border: 1px solid gray;
    border-radius: 50px;
}

.comment-wrapper {
    width: 100%;
    border-top: 2px solid #43005c;
}

.flex-col {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flex-col header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.comments_list {
    background: #1a0024;
    margin-left: 30px;
}
