.page-wrapper {
    display: flex;
    justify-content: space-between;
    background: lavender;
}

.profile-container {
    padding: 0 20px;
    display: flex;
    background: #1a0024;
    width: 30%;
    flex-direction: column;
    align-items: center;
}

.profile-container h3 {}

.profile-container p {
    color: var(--light);
    text-align: start;
}

.edit-btn {
    margin-top: 70px;
}

.edit-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-form-heading {
    color: var(--primary);
}

.edit-form {
    background: var(--secondary);
    border-radius: 20px;
    margin-bottom: 50px;
}


.edit-form label {
    color: var(--light)
}

.edit-form textarea {
    padding: 10px;
}

.edit-form .save-btn {
    padding: 10px 15px;
    font-size: 18px;
    background: var(--light);
    color: var(--primary);
    cursor: pointer;
    border: none;

}

.edit-form .save-btn:hover {
    background: var(--primary);
    color: var(--light)
}

/*TIMELINE CSS*/
.timeline-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1e0039;
    width: 70%;
}

.timeline-wrapper p,
h2,
h3,
h4,
time,
summary {
    color: var(--light);
}


.timeline-wrapper summary {
    cursor: pointer;
}

.post-wrapper {
    width: 100%;
    border-top: 2px solid #43005c;
    padding: 0 30px;
    margin: 30px 0;
}

.post-btn {
    display: block;
    border: none;
}
